@model Feature

@{
    ViewData["Title"] = "CreateFeature";
    Layout = "~/Views/AdminLayout/Index.cshtml";
}

<div class="container">
    <div class="page-inner">
        <div class="page-header">
            <h3 class="fw-bold mb-3">Features</h3>
            <ul class="breadcrumbs mb-3">
                <li class="nav-home">
                    <a href="#">
                        <i class="icon-home"></i>
                    </a>
                </li>
                <li class="separator">
                    <i class="icon-arrow-right"></i>
                </li>
                <li class="nav-item">
                    <a href="#">Add Feature</a>
                </li>
                <li class="separator">
                    <i class="icon-arrow-right"></i>
                </li>
                <li class="nav-item">
                    <a href="#">New Create Feature</a>
                </li>
            </ul>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-header">
                        <div class="card-title">Add Feature Table</div>
                    </div>
                    <div class="card-body">

                        <form method="post">
                            <label>Title</label>
                            <input type="text" asp-for="Title" class="form-control" />
                            <br />
                            <label>Description</label>
                            <input type="text" asp-for="Description" class="form-control" />
                            <br />
                            <label>Status</label>
                            <select asp-for="Status" class="form-control">
                                <option value="true">Active</option>
                                <option value="false">Inactive</option>
                            </select>
                            <br />
                            <label>Image</label>
                            <input type="text" asp-for="ImageUrl" class="form-control" />
                            <br />
                            <button class="btn btn-primary">Create Feature</button>
                        </form>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


